<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CompServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="CompServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44314/CompService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CompServiceSoap"
                contract="CompanyService.CompServiceSoap" name="CompServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>